@use "../utils/globals";
@use "../utils/variables";
@use "../utils/mixins";
@use "../components/navbar";

// header styles
.header {
    display: flex;
    align-items: center;
    height: 70vh;

    .left {
        flex: 2;
        padding: 1rem 1rem 0 3rem;
        text-align: right;
        height: 50vh;

        .heading {
            .main {
                text-transform: uppercase;
                font-weight: 300;
                line-height: 1.2;
            }

            .sub {
                line-height: 1.4;
                font-weight: 600;
                width: 80%;
                margin-left: auto;
            }
        }

        .desc {
            font-size: clamp(0.75rem, 0.713rem + 0.1852vw, 0.875rem);
            margin-top: 1rem;
        }

        .view-portfolio-btn {
            background-color: #ddd;
            margin-top: 1rem;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .right {
        flex: 3;
        padding: 1rem;
        position: relative;
        height: 50%;

        img {
            position: absolute;
            transition: all 0.5s;
            opacity: 0.8;

            &.img1 {
                left: 5rem;
                top: 3rem;
                width: 20rem;
            }

            &.img2 {
                right: 7rem;
                top: 8rem;
                width: 20rem;
            }

            &.img3 {
                bottom: 5rem;
                left: 3rem;
                width: 15rem;
            }

            &:hover {
                transform: scale(1.02);
                opacity: 1;
                z-index: 100;
            }
        }
    }
}

.about {
    margin-top: 10rem;
    text-align: center;
    background-color: #ddd;
    padding: 3rem 5rem 5rem 5rem;

    .heading {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p {
        color: #666;
    }
}

.reviews {
    margin-top: 5rem;
    text-align: center;
    width: 90%;

    .heading {
        text-transform: uppercase;
        font-weight: 400;
    }

    .sub {
        font-weight: 700;
        color: #555;
    }

    .reviews-container {
        display: flex;
        margin-top: 1rem;

        .review {
            flex: 1;
            background-color: #ddd;
            margin: 0 0.5rem;
            padding: 2rem;
            line-height: 1.6;
            text-align: left;

            b {
                display: block;
                margin-top: 0.5rem;
            }
        }
    }
}

.footer {
    background-color: #999;
    margin-top: 5rem;
    padding: 1rem;

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            width: 2rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            img {
                width: 100%;
            }
        }
    }
}