@use "../utils/globals";
@use "../utils/variables";
@use "../utils/mixins";
@use "../components/navbar";

// header styles
.header {
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 2rem 1rem;

    @include mixins.breakpoint-down(tablet) {
        flex-direction: column;
    }

    .left {
        flex: 2;

        @include mixins.breakpoint-down(tablet) {
            width: 90%;
            margin: 12rem auto 0 auto;
        }

        .heading {

            .main {
                text-transform: uppercase;
                font-weight: 300;
                line-height: 1.2;
            }

            .sub {
                line-height: 1.4;
                font-weight: 600;
                margin-left: auto;
            }
        }

        .desc {
            font-size: clamp(0.75rem, 0.713rem + 0.1852vw, 0.875rem);
            margin-top: 1rem;
        }

        .view-portfolio-btn {
            background-color: #ddd;
            margin-top: 1rem;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .right {
        flex: 3;
        padding: 1rem;
        position: relative;
        height: 100%;

        @include mixins.breakpoint-down(tablet) {
            order: -1;
            width: 100vw;
        }

        img {
            position: absolute;
            transition: all 0.5s;
            opacity: 0.8;

            // @include mixins.breakpoint-down(tablet) {
            //     position: static;
            // }

            &.img1 {
                left: 5rem;
                top: 3rem;
                width: 20rem;

                @include mixins.breakpoint-down(tablet) {
                    top: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 15rem;
                }
            }

            &.img2 {
                right: 7rem;
                top: 8rem;
                width: 20rem;

                @include mixins.breakpoint-down(tablet) {
                    top: 70%;
                    right: 15%;
                    width: 12rem;
                }
            }

            &.img3 {
                bottom: 5rem;
                left: 3rem;
                width: 15rem;

                @include mixins.breakpoint-down(tablet) {
                    bottom: unset;
                    top: 5%;
                    left: 25%;
                    width: 7rem;
                }
            }

            &:hover {
                transform: scale(1.02);
                opacity: 1;
                z-index: 100;
            }
        }
    }
}

.about {
    margin: 5rem auto 0 auto;
    text-align: center;
    background-color: #ddd;
    padding: 3rem 5rem 5rem 5rem;
    width: 90%;

    @include mixins.breakpoint-down(tablet) {
        padding: 2rem;
        text-align: left;
    }

    @include mixins.breakpoint-down(mobile-md) {
        margin-top: 10rem;
    }

    .heading {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p {
        color: #666;
    }
}

.reviews {
    text-align: center;
    width: 90%;
    margin: 5rem auto;

    @include mixins.breakpoint-down(tablet) {
        text-align: left;
    }

    .heading {
        text-transform: uppercase;
        font-weight: 400;
    }

    .sub {
        font-weight: 700;
        color: #555;
    }

    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 0.5rem;
        margin-top: 1rem;

        .review {
            background-color: #ddd;
            padding: 2rem;
            line-height: 1.6;
            text-align: left;
            width: 100%;

            b {
                display: block;
                margin-top: 0.5rem;
            }
        }
    }
}

.footer {
    background-color: #999;
    margin-top: 5rem;
    padding: 1rem;

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            width: 2rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            img {
                width: 100%;
            }
        }
    }
}