@use "../utils/globals";
@use "../utils/variables";
@use "../utils/mixins";
@use "../components/navbar";

.tab-btns {
    margin: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    overflow-x: scroll;

    .btn {
        background-color: #ddd;
        min-width: 8rem;
        padding: 0.5rem 0;
        display: block;
        font-weight: 400;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: #ccc;
        }
    }
}

.images {
    padding: 0 1rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 0.5rem;

    .img-container {
        img {
            transition: all 0.2s;
            width: 100%;

            &:hover {
                transform: scale(0.98);
            }
        }
    }
}